<div class="center hero-unit">
  <h3>
    About
  </h3>
  <h4 id="instructions">
    <p>
      A party that will be showcasing the best Guacamoles that the city has to offer. 
    </p>
    <p>
      The party going people of San Francisco will get to decide who has the best guacamole in the City.
    </p>
    <p>
      The winner to be crowned with the guacamole glory trophy, bragging rights until next Indian Summer, the title of official "Guacamole of San Francisco", and a secret mystery prize.
    </p>
  </h4>

  <h3>
  	Rules
  </h3>
  <h4 id="instructions">
		<p>
		  Entry into the competition is free
		</p>
		<p>
  		Your guacamole must use at least 4 avocados.
		</p>
		<p>
			For all others wishing to attend, you must fairly judge the Guacamoles presented.
		</p>

 <h3>
    Location & Time
  </h3>
  <h4 id="instructions">
    <p>
      Saturday, Sept 15th, 2012
    </p>
    <p>
      <%= link_to "230 Guerrero St, San Francisco, California", "http://goo.gl/maps/lFUoc" %></li>
    </p>
    <p>
      3pm - until the last chip is eaten
    </p>

  <h3>
    What we're giving away:
  </h3>
  <h4 id="instructions">
    <p>
      Stellar secret prizes from some stellar local companies!
    </p>
    <p>
      Our buddies at <%= link_to "InstantCab", "http://instantcab.com/" %></li> will be there!
    </p>
    <p>
      So will our friends from <%= link_to "Puerto Alegre", "http://www.yelp.com/biz/puerto-alegre-san-francisco" %></li>!
    </p>
    <p>
      ...and of course the #PandaTweet will be there to enjoy guacamole with all!
    </p>
  <br>
  <br>
  <center>
  <%= link_to "Count me in!", signup_path, class: "btn btn-large btn-primary border: 1px solid red" %>
  <center>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34819223-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>    
</div>