<% provide(:title, 'About Us') %>
<h1>Rules</h1>
<p>
  Entry into the competition is free
</p>
<p>
  Your guacamole must use at least 4 avocados.
</p>
<p>
	For all others wishing to attend, Your only requirement is to fairly judge the Guacamoles presented.
</p>